<!doctype html>
<html>

        <a href="/blog">Main Blog page</a> 
        <a href="/newpost">Add new Blog</a> 

    <head>
        <title>{{title}}</title>
    </head>
<body>

    <div>
        <a href='/logout'>log out</a>
    </div>

    {% with messages = get_flashed_messages() %}
        <ul>
        {% for messages in messages %}
            <li>{{message}}</li>
        {% endfor %}
        </ul>
    {% endwith %}
    <a href="/index">all users</a> 

    {% block content %}
    {% endblock %}

</body>
</html>